AsyncService/AsyncService/Service References/QuestionService/QuestionService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="QuestionService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:9325/Service1.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:9325/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IQuestionService_GetQuote_InputMessage">
    <wsdl:part name="parameters" element="tns:GetQuote" />
  </wsdl:message>
  <wsdl:message name="IQuestionService_GetQuote_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetQuoteResponse" />
  </wsdl:message>
  <wsdl:message name="IQuestionService_AskDeepThought_InputMessage">
    <wsdl:part name="parameters" element="tns:AskDeepThought" />
  </wsdl:message>
  <wsdl:message name="IQuestionService_AskDeepThought_OutputMessage">
    <wsdl:part name="parameters" element="tns:AskDeepThoughtResponse" />
  </wsdl:message>
  <wsdl:portType name="IQuestionService">
    <wsdl:operation name="GetQuote">
      <wsdl:input wsaw:Action="http://tempuri.org/IQuestionService/GetQuote" message="tns:IQuestionService_GetQuote_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IQuestionService/GetQuoteResponse" message="tns:IQuestionService_GetQuote_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AskDeepThought">
      <wsdl:input wsaw:Action="http://tempuri.org/IQuestionService/AskDeepThought" message="tns:IQuestionService_AskDeepThought_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IQuestionService/AskDeepThoughtResponse" message="tns:IQuestionService_AskDeepThought_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IQuestionService" type="tns:IQuestionService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetQuote">
      <soap:operation soapAction="http://tempuri.org/IQuestionService/GetQuote" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AskDeepThought">
      <soap:operation soapAction="http://tempuri.org/IQuestionService/AskDeepThought" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="QuestionService">
    <wsdl:port name="BasicHttpBinding_IQuestionService" binding="tns:BasicHttpBinding_IQuestionService">
      <soap:address location="http://localhost:9325/Service1.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>